<section id="blog">
    {{#each blogs as |blog|}}
    <div class="jumbotron">
        <h1 class="display-4">{{blog.title}}</h1>
        <p><span id="authorName">Author:</span> {{user.name}} </p>
        <p><span data-blogID="{{blog.user_id}}" id="datePosted">Created On:</span> {{blog.date}}</p>

        <p class="lead">{{blog.body}}</p>
        <hr class="my-4">
        <div id="comments">
            {{#each blog.comments as |comment|}}
            <p> {{comment.body}} </p>
            {{/each}}
        </div>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/editblog/{{blog_id}}" role="button">Edit Blog</a>
            <a class="btn btn-primary btn-lg" role="button" id="deleteblog">Delete Blog</a>
            <a class="btn btn-primary btn-lg" href="/comment" role="button">Add Comment</a>
        </p>
    </div>
    {{/each}}
</section>


<script src="js/blog.js"></script>